<form class="row g-5">
  <div class="container">
    <div class="col-md-5">
      <label for="inputEmail4" class="form-label">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">E-mail</font>
        </font>
      </label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-5">
      <label for="inputPassword4" class="form-label">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Senha</font>
        </font>
      </label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-5">
      <label for="inputAddress" class="form-label">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Endereço</font>
        </font>
      </label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Rua Principal 1234">
    </div>
    <div class="col-5">
      <label for="inputAddress2" class="form-label">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Endereço 2</font>
        </font>
      </label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, estúdio ou andar">
    </div>
    <div class="col-md-5">
      <label for="inputCity" class="form-label">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Cidade</font>
        </font>
      </label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-5">
      <label for="inputState" class="form-label">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Estado</font>
        </font>
      </label>
      <select id="inputState" class="form-select">
        <option selected="">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Escolher...</font>
          </font>
        </option>
        <option>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">...</font>
          </font>
        </option>
      </select>
    </div>
    <div class="col-md-5">
      <label for="inputZip" class="form-label">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Fecho eclair</font>
        </font>
      </label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-5">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              Olhe para mim
            </font>
          </font>
        </label>
      </div>
    </div>
    <div class="col-5">
      <button type="submit" class="btn btn-primary">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Entrar</font>
        </font>
      </button>
    </div>
  </div>
</form>